<div class="p-10">
    <div class="m-4"> 
        <h1>TuSegundazo.com</h1>
    </div>
    <div class="m-4">
        <img src="https://cdn.group.renault.com/ren/co/vehicles/kangoo/home/renault-kangoo-exterior.jpg" class="img-fluid" alt="Wild Landscape" />
    </div>
    <div class="m-4">
        <app-vehiculo></app-vehiculo>
    </div>
    
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          Contact us: +573102105253 - info@tusegundazo.com - @tusegundazo
        </div>
        <!-- Copyright -->
      </footer>

</div>
